
@media (min-width: 767px){
	.navbar-enterprise .navbar-collapse {
		margin-left:-2px;
		margin-right:-10px;
		padding:0
	}
	 
	.navbar .nav {
		margin: 0;
		display: table;
		width: 100%;
	}
	.navbar .nav li {
		display: table-cell;
		width:auto;
		float: none;
		text-align:center;
	}
	
	#sidebar {width:21%;}
	#content {width:79%;}
	.getsadze_design {  
		height: 100%;
		display: inline-block;
		margin-top: 50px;
	}
	.contact_btn{width:50%;}
	
	.export_companies .filter_content  .itemssss {		
		display: table-cell;
		text-align:left;
	}
	.navbar-nav {max-height:30px; float:none;}

}



@media (max-width: 767px){
	
	.logo_text {font-size:40px !important;} 
	#footer_div_2 > #footer_2 {text-align:center;}
	#sidebar {width:100% !important;}
	#content {width:100% !important; padding-left:0 !important}
	table.blue_table {width:100%;}
	.getsadze_design {  
		height: 100%;
		display: inline-block;
	}
	.useful_div .useful_item {text-align:center;}.export_companies .filter_content .content_divs {display:inline-block !important;}
	#footer_div{text-align:center;}
	#footer_div .text_formats_blue {margin-bottom:15px;}
	.sme_service {margin-bottom:18px;}
	#header_contact,
	.header_search,
	.language,
	#live_chat_div {display:none;}
	.navbar-enterprise { }
	#header{margin-bottom:10px;} 
	.navbar-nav {margin:15px;}
	.navbar-enterprise{background:none;}
	.navbar-enterprise .navbar-toggle {border:none;}
	#navbar{background:#fff}
	html,body {padding:0 5px !important;}
	.logo_text img{height:80px;}
	 .news_div .news_item {min-height:42px;}
	
 
		
	
}

@media (max-width: 460px){
	.contact_person .col-sm-4{width:100% !important;}
	#events_items .col-sm-4 {width:100% !important;}
	#events_items > .event_item .image {height:auto;}
	.news_div .col-sm-12 {width:100% !important;}
	
	
}


@media (max-width: 1200px) {
	.navbar-trade .nav > li > a {font-size:18px;}
	#content {padding-left:30px; width:75%;}
	#sidebar {width:25%;}
	
	.navbar-enterprise .navbar-collapse {
		margin-left:0px;
		margin-right:-1px;
		padding:0
	}
	.navbar-enterprise .nav > li > a {font-size:12px;}
	.dropdown-menu-2 li a {padding-left:3px; font-size:12px;}
	
}



@media (max-width: 992px) {
	.navbar-trade .nav > li > a {font-size:13px; padding:auto 0px !important;}
	/*.logo_text {width:100%;text-align:center;}*/
	#header_line {margin-bottom:0px !important}
	.header_map {width:40%; float:left; }
	/*.head_contact {width:60%; float:left;} */
	.carousel-caption {
		left: 50%;
		width:700px;
		margin-left: -350px;
	}
	.navbar-enterprise .nav > li > a {font-size:9.5px;}
	.dropdown-menu-2 li a {padding-left:1px; font-size:10px;}
	
	 
}

@media (max-width: 992px) and (min-width: 768px) {
	.carousel-caption .col-sm-4 {width:50%;}
	.home_search .col-sm-5{width:50%;}
	.home_search .home_search_input {width:30%;}
}


@media (min-width: 992px) {
	.head_contact,
	.logo_text,
	.header_map {} 
	
	.carousel-caption {
		left: 50%;
		width: 992px;
		margin-left: -480px;
	}
}
 
@media (min-width: 1200px) {
	#home_slider {height:432px;}
	#home_slider .carousel-inner {min-height:432px;}
	#home_slider .carousel-inner .item  img{min-height:432px;} 	
	.sidebar_menu {width:235px;}
	#sidebar {width:26% !important;}
	#content {width:74%;}
	.carousel-caption {
		left: 50%;
		width: 1170px;
		margin-left: -585px;
	}
	
}

